asgiref==3.8.1
certifi==2024.12.14
charset-normalizer==3.4.1
dj-database-url==2.3.0
Django==5.1.5
djangorestframework==3.15.2
gunicorn==23.0.0
idna==3.10
mysql-connector-python==9.2.0
mysql-connector-python-rf==2.2.2
packaging==24.2
pillow==11.1.0
psycopg2-binary==2.9.10
requests==2.32.3
sqlparse==0.5.3
typing_extensions==4.13.1
urllib3==2.3.0
whitenoise==6.9.0
